* {
    box-sizing: border-box;
}

:root {
    --bg-color: #dab894;
    --clock-bg-color: rgba(255, 255, 255, 0.8);
    --clock-border-color: #916A53;
    --clock-symbol: #262626;
    --clock-sec-hand: red;
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    overflow: hidden;
}

.clock {
    height: 200px;
    width: 200px;
    background-color: var(--clock-bg-color);
    border-radius: 50%;
    border: 10px solid var(--clock-border-color);
    position: relative;
}

.clock .top {
    position: absolute;
    height: 0;
    width: 20px;
    background-color: var(--clock-bg-color);
    top: 2%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
}

.clock .right {
    position: absolute;
    height: 3px;
    width: 8px;
    background-color: var(--clock-symbol);
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.clock .bottom {
    position: absolute;
    height: 8px;
    width: 3px;
    background-color: var(--clock-symbol);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.clock .left {
    position: absolute;
    height: 3px;
    width: 8px;
    background-color: var(--clock-symbol);
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.clock .center {
    height: 6px;
    width: 6px;
    background-color: var(--clock-symbol);
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.clock .shadow {
    background: linear-gradient(rgba(0, 0, 0, 0), 
                                rgba(0, 0, 0, 0.1));
    height: 200px;
    width: 200px;
    position: absolute;
    left: 60px;
    top: 60px;
    transform: rotate(135deg);
}

.clock .hand {
    --rotation: 0;
    left: 50%
    bottom: 50%;
    width: 10px;
    height: 40%;
    position: absolute;
    background-color: var(--clock-symbol);
    transform-origin: bottom;
    transform: rotate(calc(var(--rotation) * 1deg));
}

.clock .hand .hour {
    height: 100%;
    width: 3px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.clock .time .hour:before {
    content: "";
    height: 60px;
    width: 3px;
    background-color: var(--clock-symbol);
    position: absolute;
    top: 30px;
}

.clock .time .minute {
    height: 100%;
    width: 1px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.clock .time .minute:before {
    height: 40px;
    width: 1px;
    top: 50px;
    content: "";
    background-color: var(--clock-symbol);
    position: absolute;
}

.clock .time .second {
    height: 100%;
    width: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.clock .time .second:before {
    height: 45px;
    width: 2px;
    top: 45px;
    position: absolute;
    content: "";
    background-color: var(--clock-sec-hand);
}
